<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WebApiAdress" value="B8B01FC4A39CBD798D2B81049506C21C454D21EDDF320508653A87FD2FB7631C" />
    <!--<add key="WebApiAdress" value="B8B01FC4A39CBD798D2B81049506C21C0C75D6D3933EA7F95B1EBAB95C9F5590" />-->
    <add key="ImageServerAdress" value="B8B01FC4A39CBD798D2B81049506C21C0C75D6D3933EA7F95B1EBAB95C9F5590" />
    <add key="SourceServerAdress" value="B8B01FC4A39CBD798D2B81049506C21C0C75D6D3933EA7F95B1EBAB95C9F5590" />
    <add key="SourceUserName" value="A1D57D292D1AE3D7" />
    <add key="SourcePwd" value="B8BC13B0B980217A" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>